<div id="floors">
  <div class="toolbar">
    <a class="back" href="#">Home</a>
    <h1>Les Etages</h1>
    <a class="button slideup" id="infoButton" href="#contact">Contact</a>
  </div>
  <ul class="rounded">
  <% for floor in list_floors %>
   <li class="arrow"><%= link_to floor.title, [ "#floor_", floor.id ].join %></li>
  <% end %>
  </ul>
</div>

